<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	colors="true"
	processIsolation="false"
	strict="true"
	verbose="false"
	bootstrap="test/bootstrap.php"
>
	<testsuites>
		<testsuite name="Library">
			<directory>test/</directory>
		</testsuite>
		<testsuite name="Application">
			<directory>app/test</directory>
		</testsuite>
		<testsuite name="Service">
			<directory>service/test</directory>
		</testsuite>
	</testsuites>
	
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./lib</directory>
			<directory suffix=".php">./app</directory>
			<directory suffix=".php">./service</directory>
		</whitelist>
	</filter>
	
	<logging>
		<log type="coverage-clover" target="coverage.xml" />
		<log type="coverage-html" target="test/coverage" />
	</logging>
</phpunit>
